* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: rgba(162, 184, 173, 0.549);   
    overflow-x: hidden
}
.header { /*--------------------Edicion del header----------------------------*/
    top: 0;
    position: fixed;
    width: 100%;
    /*background-color: rgb(255, 255, 255);
    background-image: url(/fotos/fotoheader.jpg);*/
    display: flex;
    background-size:cover;
    height: 14vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    /*background: linear-gradient(to right, #b5cee4 40%, #183c5f 100%);*/
    background: linear-gradient(to top, #99d4b7, #ffffff);
    box-shadow: 3px 3px 5px #011126;
    
}
main{
    margin-top: 200px;
}
.nombre_servicio {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.info_header {
    display: flex;
    list-style-type: none;
    margin-right: 90px;
    gap: 30px;
}
.info_header button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px;
    background-color: #82c7a6;
    color: black;
    border-color: black;
    border-style: solid;
    transition-duration: 0.7s;

    
}
.info_header button:hover{
    box-shadow: 3px 3px 15px #b5cee4;
    transform: scale(1.2);
    box-shadow: 2px 2px 10px black;

}

.card_info{ /*-----------------------Edicion de la card --------------------------*/ 
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.card_info__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    font-size: 1.2rem;
    border-color: black;
    border-style: solid;
    /*background-color: rgb(113, 162, 190);*/
    background-color: #99d4b7;
    border-radius: 10px;
    padding-bottom: 50px;

}
.card_info img{       
    width: 300px;
    border-radius: 50%;
    padding: 30px;
}

#textocard {
    margin: 0 20px 0 20px;
}

.dedicaciones{  /*-----------------Edicion de especializaciones--------------------*/
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    width: 100%;
    margin: 40px 0 100px 50px;
    
}
.dedicado {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
    width: 60%;
    transition: 1.2s;
    opacity: 0.5;
}

.dedicado:hover {
    transform: translateX(160px);
    opacity: 1;
}

.dedicado_texto {
    display: flex;
    flex-flow: column;
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
    width: 60%;

    
}

.dedicado img {
    width: 180px;
    border-radius: 50%;
    
}

.titulos_trabajados { /*------------Edicion de trabajos hechos----------------------*/
    display: flex;
    text-align: center;
    padding-bottom: 40px;
    font-size: 3rem;
    width: fit-content;
    margin: auto;
    transition: 1s;
    
}
.titulos_trabajados:hover {
    text-shadow: 3px 3px 20px;
    transform: scale(1.15);

}

.trabajos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 40px;
}
.trabajo {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: 1.2s;

}

.trabajo:hover {
    transform: scale(1.2);
}
.trabajos img {
    width: 220px;
    padding: 20px;
    border-radius: 40px;
}



.separador {           /*-------------------Footer-------------------*/
    margin: 100px 150px 0px 150px;

}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.2rem;
    padding: 40px;
    background: linear-gradient(to bottom, rgba(162, 184, 173, 0.549) , #ffffff  );
    gap: 20px;
}
.footer_logo {
    width: 80px;
}

/*-----------------Comienzo del diseño sobre el apartado de nosotros-------------------*/

.titulo_nosotros{ /*-------------------Edicion de mision,vision y valores -----------------*/
    display: flex;
    text-align: center;
    font-size: 3rem;
    width: fit-content;
    margin: auto;
    transition: 1s;

}
.titulo_nosotros:hover{
    text-shadow: 3px 3px 20px;
    transform: scale(1.15);
}
.nosotros{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    margin: 70px 0;
    gap: 30px;
}
.nosotros_info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    transition: 1.5s;

}
.nosotros_info:hover {
    transform: scale(1.3);
    margin: 50px 50px;
    
}
.nosotros_info h3 {
    padding-bottom: 15px;
    font-size: 1.8rem;
}

.conteiner { /*----------------Edicion de mejorando---------------------*/
    display: flex;
    flex-flow: column wrap;
    gap: 100px;
}
.conteiner_impar {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.conteiner_par {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.conteiner_impar img, .conteiner_par img{
    width: 360px;
    height: 350px;
}
.texto {
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
}


@media(max-width:800px) {
    .conteiner_impar img, .conteiner_par img{
        width: 240px;
        height: 240px;
    }
    .titulos_trabajados {
        font-size: 2.4rem;
    }
    .texto {
        font-size: 1.05rem;
    }
    .titulo_nosotros {
        font-size: 2.5rem;
    }
}



@media(max-width:600px) {
    .info_header {
        flex-direction: column;
    }
    .header {
        top: 0;
        position: absolute;
        width: 100%;
        display: flex;
        height: 16vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .info_header {
        display: flex;
        list-style-type: none;
        margin-right: 40px;
        gap: 30px;
    }
    .info_header button{
        font-size: 1.2rem;
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 15px;
        transition-duration: 0.7s;
        
    }
    .info_header button:hover{
        transform: scale(1.2);
    }
    .nombre_servicio{
        font-size: 0.9rem;
    }

    
    .dedicado:hover {
        transform: translateX(60px);
        opacity: 1;
    }
    
    .dedicado_texto {
        font-size: 1rem;
        width: 60%;         
    }
    .dedicado img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        
    }
   .titulos_trabajados {
        font-size: 1.8rem;
        padding: 0 15px;
   }
   .dedicaciones {
        margin: 20px 0 40px 25px;
   }

   .card_info__contenido {

    width: 90%;
    font-size: 1rem;
    padding-bottom: 20px;
    }
    .card_info img{       
    width: 180px;
    border-radius: 50%;
    padding: 15px;
    }
    .trabajos {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
        gap: 30px;
        margin-top: 20px;
    }
    .trabajo {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 40%;
        font-size: 1rem;
        border-radius: 20px;
        transition: 1.2s;
    
    }
    
    .trabajo:hover {
        transform: scale(1.2);
    
    }
    .trabajos img {
        width: 160px;
        padding: 20px;
        border-radius: 40px;
    }
    footer {
        text-align: center;
        gap: 15px;
        flex-direction: column;
        font-size: 1rem;
        padding: 40px;    
    }
    .footer_logo {
        width: 60px;
    }
    .separador {
        margin: 80px 80px 0 80px;
    }

    .titulo_nosotros {
        font-size: 2rem;

    }

    .nosotros{
        margin: 40px 0;
        gap: 30px;
    }
    .nosotros_info {

        width: 60%;
        transition: 1s;

    }
    .nosotros_info:hover {
        transform: scale(1.1);
        margin: 25px 25px;
        
    }
    .nosotros_info h3 {
        padding-bottom: 15px;
        font-size: 1.4rem;
    }
    .conteiner {
        margin-top: 30px;
    }
    .conteiner_impar img, .conteiner_par img{
        width: 160px;
        height: 160px;
    }
    .conteiner_impar, .conteiner_par {
        gap: 10px;
    }
    .texto {
        width: 50%;
        font-size: 0.9rem;
    }
}