* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poiret One", sans-serif;
}


body {
    background-color: #a2b8ad8c;   
}
.header {
    top: 0;
    position: fixed;
    width: 100%;
    /*background-color: rgb(255, 255, 255);
    background-image: url(/fotos/fotoheader.jpg);*/
    display: flex;
    height: 14vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: white;
    box-shadow: 3px 3px 5px #011126 ;
    gap: 20px;
}
main{
    margin-top: 180px;
}
.nombre_servicio {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.info_header {
    display: flex;
    list-style-type: none;
    margin-right: 90px;
    gap: 30px;
}
.info_header button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 15px;
    background-color:#D9D9D9;
    color: black;
    transition-duration: 0.7s;
    
}
.info_header button:hover{
    box-shadow: 3px 3px 15px #000000;
    transform: scale(1.2);
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    font-size: 1.2rem;
    padding: 40px;
    background: linear-gradient(to bottom, rgba(162, 184, 173, 0.549) , #ffffff  );
    gap: 20px;
}
.footer_logo {
    width: 80px;
}
.separador {
    margin: 100px 150px 0 150px;
}

#contacto_texto{
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5em;
}
.conteiner_formulario {
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 14px black;
}

.titulo_formulario {
    text-align: center;
    padding: 20px 10px 0 10px;
}
.formulario {
    margin:30px 0;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 20px;
}
.formleft {
    display: flex;
    flex-direction: column; 
    gap: 40px;
    margin: auto;
    padding-left: 20px;

}
.formright {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
}
.form input {
    width: 80%;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
    background-color: #D9D9D9;

}
.formulario textarea{
    border: 1px solid black;
    background-color: #D9D9D9;
    border-radius: 5px;
    font-weight: 1000;
    font-size: 18px;
}

.formasunto textarea {
    width: 80%;
}
.formmensaje textarea {
    width: 90%;
    height: 300px;
}
::placeholder {
    opacity: 0.6;
}

.boton_formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_form {
    width: 180px;
    font-size: 1.4rem;
    border-radius: 10px;
    background-color: black;
    padding: 5px;
    color: white;
    margin: 30px;
    transition: 1s;
    border: 1px solid white;

}
.btn_form:hover {
    scale: 1.2;
    box-shadow: 2px 2px 15px black;
}

.politicas_formulario{
    max-width: 800px;
    font-size: 1.3rem;
    margin: 30px auto;
    text-align: center;
}
.politicas {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

@media(max-width:800px) {

    
    .formulario {
        flex-flow: row wrap;
    }
    .politicas_formulario {
        max-width: 550px;
    }

}
@media(max-width:600px) { /* Ya en esta media querie configuramos el header para que se quede estatico arriba*/
    .formulario textarea, .forminput {
        width: 75%;
        font-size: 0.9rem;
    }
    .form {
        text-align: center;
    }
    .formleft {
        padding-left: 0px;
    }
 
    .formarchivo {
        display: none;
    }
    .formmensaje textarea{
        width: 250px;
    }
    
    .info_header {
        flex-direction: column;
    }
    .header {
        top: 0;
        position: absolute;
        width: 100%;
        display: flex;
        height: 16vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        box-shadow: 3px 3px 5px #011126 ;
        gap: 20px;
    }
    .info_header {
        display: flex;
        list-style-type: none;
        margin-right: 40px;
        gap: 30px;
    }
    .info_header button{
        font-size: 1.2rem;
        font-weight: bold;
        padding: 5px 12px;
        border-radius: 15px;
        background-color:#D9D9D9;
        color: black;
        transition-duration: 0.7s;
        
    }
    .info_header button:hover{
        box-shadow: 3px 3px 15px #000000;
        transform: scale(1.2);
    }
    .nombre_servicio{
        font-size: 0.9rem;
    }
    .politicas_formulario {
        max-width: 480px;
        font-size: 1.15rem;
    }
    .titulo_formulario{
        font-size: 0.9rem;
    }
    .btn_form {
        padding: 3px;
        width: 130px;
        font-size: 1rem;
    }
    footer {
        text-align: center;
        gap: 15px;
        flex-direction: column;
        font-size: 1rem;
        padding: 40px;    
    }
    .footer_logo {
        width: 60px;
    }
    .separador {
        margin: 80px 80px 0 80px;
    }

}

@media(max-width:480px) {

    .politicas_formulario {
        max-width: 280px;
        font-size: 1rem;
    }

    .formulario textarea {
        width: 55%;   
    }
    .form input{
        width: 55%;
    }
    .formmensaje textarea {
        width: 200px;

    }

}